DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=zhihu_bigdata
DB_USER=app_user
DB_PASSWORD=App_YourStrongPassword_123!
DB_TABLE=zhihu_user
JDBC_JAR=/home/root/zhihu-bigdata-pdi-spark/drivers/mysql-connector-j-8.0.33.jar
WORDCLOUD_FONT=/usr/share/fonts/opentype/noto/NotoSansCJK-Regular.ttc
